* {
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #1E1E1E;
}

header {
    width: 100%;
}

.containerPrincipal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerHistorico {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 73px;
}

.titulo {
    color: white;
    font-size: 20px;
}

.containerAlinhamento {
    display: flex;
    height: 1.87rem;
}

.containerPesquisa {
    height: 1.87rem;
    display: flex;
    gap: 0.5rem;

    input {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        outline: none;
        box-shadow: none;
        font: inherit;
        color: inherit;
        width: auto;
        font-size: 20px;
        color: #fff;
    }
}

.containerFiltro .dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 20px;
}

.imgPesquisa {
    width: 1.61rem;
    height: 1.61rem;
}

.imgFiltro {
    width: 1.61rem;
    height: 1.61rem;
}

.imgFavorito {
    width: 2.6rem;
    height: 2.6rem;
}
.containerLivrosHistoricoVisualizacao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 78rem;
    height: auto;
    gap: 1rem;
}
.containerHistoricoData {
    margin-top: 2rem;
}
.alinhamentoDataHora {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.livro {
    width: 18.75rem;
    height: 28rem;
    border-radius: 1rem;
    position: relative;
    color: #fff;
}

.imgLivro {
    width: 18.75rem;
    height: 28rem;
    border-radius: 15px;    
}
.gradiente {
    position: absolute;
    top: 0;
    width: 18.75rem;
    height: 28rem;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 43%, rgba(0, 0, 0, 1) 100%);
}
.marcador {
    position: absolute;
    top: 0.37rem;
    right: 0.12rem;
}
.imgMarcador {
    width: 3.12rem;
    height: 3.12rem;
}

.avaliacoes {
    position: absolute;
    top: 0.37rem;
    left: 0.62rem;
    display: flex;
    color: #000;
    width: 5rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: #FFFDFD;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 25);
}
.mediaAvaliacao {
    height: 1.25rem;
    margin-top: 0.68rem;
    margin-left: 0.5rem;
}
.imgEstrela {
    width: 1.5rem;
    height: 1.40rem;
    margin-top: 0.48rem;
    margin-left: 0.75rem;
}
.avaliacoes {
    position: absolute;
    top: 0.37rem;
    left: 0.62rem;
    display: flex;
    color: #000;
    width: 5rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: #FFFDFD;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 25);
}
.mediaAvaliacao {
    height: 1.25rem;
    margin-top: 0.68rem;
    margin-left: 0.5rem;
}
.imgEstrela {
    width: 1.5rem;
    height: 1.40rem;
    margin-top: 0.48rem;
    margin-left: 0.75rem;
}
.nomeLivro {
    position: absolute;
    top: 24.31rem;
    width: 15rem;
    height: 1.87rem;
    margin: auto;
    height: auto;
    font-size: 12px;
    margin: 11px 8px 0 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}
.nomeAutor {
    position: absolute;
    top: 25.31rem;
    margin: auto;
    height: auto;
    font-size: 12px;
    margin: 11px 8px 0 30px;
    
}