* {
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #1E1E1E;
}

header {
    width: 100%;
}

.containerPrincipal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerHistorico {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 73px;
}

.containerTitulo {
    margin-left: 15%;
}

.titulo {
    color: white;
    font-size: 20px;
}

.containerAlinhamento {
    display: flex;
    height: 1.87rem;
}

.containerPesquisa {
    height: 1.87rem;
    display: flex;
    gap: 0.5rem;

    input {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        outline: none;
        box-shadow: none;
        font: inherit;
        color: inherit;
        width: auto;
        font-size: 20px;
        color: #fff;
    }
}

.containerFiltro .dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 20px;
}

.imgPesquisa {
    width: 1.61rem;
    height: 1.61rem;
}

.imgFiltro {
    width: 1.61rem;
    height: 1.61rem;
}

.imgFavorito {
    width: 2.6rem;
    height: 2.6rem;
}
.containerLivrosHistoricoVisualizacao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 78rem;
    height: auto;
    gap: 1rem;
}
.containerHistoricoData {
    margin-top: 2rem;
}
.alinhamentoDataHora {
    display: flex;
    gap: 2rem 1rem;
    flex-wrap: wrap;
}
