* {
    font-family: Arial;
}

header {
    width: 100%;
}

.titulo {
    font-size: 20px;
    margin-top: 4rem;
    margin-right: 790px;
    margin-bottom: 4rem;
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

body {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerPrincipal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
}

.containerPesquisa {
    margin-top: 20px;

    input {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    
}
}

.resultado-lista {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border-radius: 0.62rem;
    padding: 1rem;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 71%);
}

.containerAdicionarMode {
    width: 1115px;
    height: 324px;
    border-radius: 38px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerCampo {
    width: 1015px;
    height: 126px;
    margin-top: 93px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.campoPreencher {
    height: 40px;
    width: 300px;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.containerPreencher1 {
    margin-left: 23px;
}

.containerFoto {
    width: 110px;
    height: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLinha {
    height: 126px;
    margin-left: 50px;
    border-left: 2px solid;
    color: #fff;
}

input {
    border: none;    
    padding: 0;
    margin: 0;
    outline: none;    
    width: auto;
    padding: 1rem;
}

.fotousuario {
    width: 68px;
    height: 68px;
    border-radius: 50px;
}

.imgPesquisa {
    width: 24px;
    height: 24px;
}

label {
    color: white;
    font-size: 16px;
}

.placeHolder {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
}

.placeHolder1 {
    width: 274px;
    height: 24px;
    text-decoration: underline;

}