body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.tela {
  width: 100vh;
  background-color: #1E1E1E;
}

.barra {
  width: 100vh;
  height: 77px;
  background: #3a3a3a;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.logo {
  height: 60px;
  margin-right: 80px;
}

.menu-superior {
  display: flex;
  align-items: center;
  gap: 20px;
}

.caixa-pesquisa {
  display: flex;
  align-items: center;
  gap: 80px;
}

.caixa-pesquisa input {
  width: 250px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
}

.caixa-pesquisa button {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #555;
  background: #444;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.filtros {
  width: 300px;
  color: white;
  padding: 20px;
  margin: 20px 40px;
}

.filtros ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filtros li {
  margin-bottom: 15px;
}

.filtros a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 40px;
  width: 100%;
}

.cartao {
  width: 880px;
  height: 330px;
  background: #2a2a2a;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.imagem-capa {
  width: 172px;
  height: 272px;
  border-radius: 8px;
  object-fit: cover;
}

.capa {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.autor {
  font-size: 20px;
  color: #ccc;
  margin-bottom: 20px;
}

.avaliacao {
  font-size: 18px;
  color: #ffcc00;
  display: flex;
  align-items: center;
}
