.containerAviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 15px;
}

.login{
   width: 100%;
   height: auto;
}
.imgLogo {
    width: 6.6rem;
    height: 6.6rem;
}