body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;   
    background-color: #1E1E1E;
}
header {
    width: 100%;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {    
    border-radius: 10px;
    max-width: 600px;
    width: 90%;    
}
.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.carousel-container {
    width: 100%;
    height: 35rem;
}
.bannerIMG {
    height: 35rem;
    width: 81.62rem;
}
.carousel-inner {
    border-radius: 1rem;
}

.containerAviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 15px;
}


.containerAutores{
    display: flex;
    flex-direction: column;
    color: #fff;       
}
.containerAutor {
    display: flex;
    width: 78rem;
    height: 15.12rem;
    gap: 6.25rem;
    width: 80rem;
    max-width: 1200px;
    margin: 50px ;
    justify-content: space-between; 
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --containerAutor;
    scroll-snap-type: x mandatory;
}
.containerAutor::-webkit-scrollbar {
    display: none;
}
.containerAutor::scroll-button(right), .containerAutor::scroll-button(left) {
    content: url('../../img/setaDireita.png');
    border: none;
    height: 2rem;
    background-color: #1E1E1E;
    cursor: pointer;
    position: fixed;
    position-anchor: --containerAutor;
    position-area: right center;    
}
.containerAutor::scroll-button(left) {
    content: url('../../img/setaEsquerda.png');
    position-area: left center;
}
.containerAutor::scroll-button(right):disabled, .containerAutor::scroll-button(left):disabled {
    cursor: auto;
}
.autor{
    position: relative;
    text-align: center;
    padding: 10px;
    height: 15.12rem;
    width: 14rem;
    color: #fff;
}

.autoresIMG{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}
.iconePerfil{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    position: relative;
    margin-right: 2rem;
}
.login{
   width: 100%;
   height: auto;
}
.imgLogo {
    width: 6.6rem;
    height: 6.6rem;
}