body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;   
    background-color: #1E1E1E;
}
header {
    width: 100%;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.carousel-container {
    width: 100%;
    height: 35rem;
}
.bannerIMG {
    height: 35rem;
    width: 81.62rem;
}
.carousel-inner {
    border-radius: 1rem;
}
.containerLivrosRecomendados,
 .containerLivrosPopulares,
  .containerLivrosLancamentos,
   .containerLivrosFavoritos {
    margin-top: 3.12rem;
    width: 80rem;
    height: 31.5rem;
    color: #fff;
}
.containerLivroRecomendado,
 .containerLivroPopular,
  .containerLivroLancamento,
   .containerLivrosFavorito {
    display: flex;
    width: 78rem;
    height: 28rem;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --containerLivroRecomendado;
    scroll-snap-type: x mandatory;
}
.containerLivroPopular {
    anchor-name: --containerLivroPopular;
}
.containerLivroLancamento {
    anchor-name: --containerLivroLancamento;
}
.containerLivroRecomendado::-webkit-scrollbar,
 .containerLivroPopular::-webkit-scrollbar,
  .containerLivroLancamento::-webkit-scrollbar {
    display: none;
}
.containerLivroRecomendado::scroll-button(right), .containerLivroRecomendado::scroll-button(left),
 .containerLivroPopular::scroll-button(right), .containerLivroPopular::scroll-button(left),
  .containerLivroLancamento::scroll-button(right), .containerLivroLancamento::scroll-button(left) {
    content: url('../../img/setaDireita.png');
    border: none;
    height: 2rem;
    background-color: #1E1E1E;
    cursor: pointer;
    position: fixed;
    position-anchor: --containerLivroRecomendado;
    position-area: right center;    
}
.containerLivroPopular::scroll-button(right), .containerLivroPopular::scroll-button(left) {
    position-anchor: --containerLivroPopular;
}
.containerLivroLancamento::scroll-button(right), .containerLivroLancamento::scroll-button(left) {
    position-anchor: --containerLivroLancamento;
}
.containerLivroRecomendado::scroll-button(left),
 .containerLivroPopular::scroll-button(left),
  .containerLivroLancamento::scroll-button(left) {
    content: url('../../img/setaEsquerda.png');
    position-area: left center;
}
.containerLivroRecomendado::scroll-button(right):disabled, .containerLivroRecomendado::scroll-button(left):disabled,
 .containerLivroPopular::scroll-button(right):disabled, .containerLivroPopular::scroll-button(left):disabled,
  .containerLivroLancamento::scroll-button(right):disabled, .containerLivroLancamento::scroll-button(left):disabled {
    cursor: auto;
}
.livro {
    scroll-snap-align: start;
    width: 18.75rem;
    height: 28rem;
    border-radius: 1rem;
    position: relative;
    color: #fff;
}

.imgLivro {
    width: 18.75rem;
    height: 28rem;
    border-radius: 15px;    
}
.gradiente {
    position: absolute;
    top: 0;
    width: 18.75rem;
    height: 28rem;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 43%, rgba(0, 0, 0, 1) 100%);
}
.marcador {
    position: absolute;
    top: 0.37rem;
    right: 0.12rem;
}
.imgMarcador {
    width: 3.12rem;
    height: 3.12rem;
}

.avaliacoes {
    position: absolute;
    top: 0.37rem;
    left: 0.62rem;
    display: flex;
    color: #000;
    width: 5rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: #FFFDFD;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 25);
}
.mediaAvaliacao {
    height: 1.25rem;
    margin-top: 0.68rem;
    margin-left: 0.5rem;
}
.imgEstrela {
    width: 1.5rem;
    height: 1.40rem;
    margin-top: 0.48rem;
    margin-left: 0.75rem;
}
.avaliacoes {
    position: absolute;
    top: 0.37rem;
    left: 0.62rem;
    display: flex;
    color: #000;
    width: 5rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: #FFFDFD;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 25);
}
.mediaAvaliacao {
    height: 1.25rem;
    margin-top: 0.68rem;
    margin-left: 0.5rem;
}
.imgEstrela {
    width: 1.5rem;
    height: 1.40rem;
    margin-top: 0.48rem;
    margin-left: 0.75rem;
}
.nomeLivro {
    position: absolute;
    top: 24.31rem;
    width: 15rem;
    height: 1.87rem;
    margin: auto;
    height: auto;
    font-size: 12px;
    margin: 11px 8px 0 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}
.nomeAutor {
    position: absolute;
    top: 25.31rem;
    margin: auto;
    height: auto;
    font-size: 12px;
    margin: 11px 8px 0 30px;
    
}

.containerAutores{
    display: flex;
    flex-direction: column;
    color: #fff;       
}
.containerAutor {
    display: flex;
    width: 78rem;
    height: 15.12rem;
    gap: 6.25rem;
    width: 80rem;
    max-width: 1200px;
    margin: 50px ;
    justify-content: space-between; 
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --containerAutor;
    scroll-snap-type: x mandatory;
}
.containerAutor::-webkit-scrollbar {
    display: none;
}
.containerAutor::scroll-button(right), .containerAutor::scroll-button(left) {
    content: url('../../img/setaDireita.png');
    border: none;
    height: 2rem;
    background-color: #1E1E1E;
    cursor: pointer;
    position: fixed;
    position-anchor: --containerAutor;
    position-area: right center;    
}
.containerAutor::scroll-button(left) {
    content: url('../../img/setaEsquerda.png');
    position-area: left center;
}
.containerAutor::scroll-button(right):disabled, .containerAutor::scroll-button(left):disabled {
    cursor: auto;
}
.containerAviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    gap: 15px;
}

.autor{
    text-align: center;
    padding: 10px;
    height: 15.12rem;
    width: 14rem;
    color: #fff;
}

.autoresIMG{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
}
.iconePerfil{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    position: relative;
    margin-right: 2rem;
}
.login{
   width: 100%;
   height: auto;
}
input[type=submit] {
    width: 150px;
    height: 46px;
    font-size: 16px;
    border-radius: 10px;
    padding: 0px;
    border: none;
    font-family: Arial, Regular;
    background-color: #000;
    color: #fff;
}
.botao input {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.botao input:hover {
    background-color: white;
}
.imgFavorito {
    width: 2.6rem;
    height: 2.6rem;
}
.imgLogo {
    width: 6.6rem;
    height: 6.6rem;
}