body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #1E1E1E;
}

header {
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    margin-top: 3rem;
}

.carousel-container {
    width: 100%;
    height: 35rem;
}

.containerAddBanner {
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.btn-dark {
    width: auto;
    display: flex;
    height: 1.87rem;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 15%;
    top: 1rem;
    color: #fff;
    gap: 0.5rem;
    padding: 0 1rem 0 1rem;
}

.modalBanner {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item.active {
    z-index: 999999;
}

.carousel-item {
    z-index: 999999;
}

.containerTituloBanner {
    border-style: solid;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.modal-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    position: relative;
}

.containerBanners {
    overflow-x: auto;
    max-height: 235px;
}

.bannerIMG {
    height: 35rem;
    width: 81.62rem;
}

.carousel-inner {
    border-radius: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.carousel-control-prev {
    left: -60px;
}

.carousel-control-next {
    right: -60px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #fff;
}

.bannerGradiente {
    position: relative;
    width: 100%;
    height: auto;
}

.bannerGradiente::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(58, 58, 58, 0.40) 55%,
            rgba(68, 68, 68, 0.80) 65%,
            rgba(30, 30, 30, 1) 96%,
            rgba(30, 30, 30, 1) 100%);
    border-radius: 1rem;
}


.containerAviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.iconePerfil {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 3.125rem;
    position: relative;
    margin-right: 2rem;
}

.login {
    width: 100%;
    height: auto;
}

.imgLogo {
    width: 6.6rem;
    height: 6.6rem;
}

.botaoFazerLogin {
    height: 2rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-light {
    height: 2rem;
    width: 8rem;
    padding: 0;
}