
body {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.containerDenunciaPrincipal {
    width: 300px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;

    * {
    font-family: Arial;
    color: #000;
}
.titulo {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
}
.containerDenunciar {
    width: 300px;
    height: 310px;
    border-radius: 10px;
    background-color: #fff;

    .form-check {
    font-size: 20px;
    margin-left: 20px;
}
.botoes {
    margin-top: 25px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
input[type=submit] {
    width: 110px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 0px;
    border: none;
    font-family: Arial, Regular;
    background-color: #000;
    color: #fff; 
}
}
