* {
    font-family: Arial;
}

.titulo {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bold;
}

body {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerPrincipal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
}

.containerLogin {
    width: 615px;
    height: 660px;
    margin: 100px;
    border-radius: 38px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type=submit] {
        width: 305px;
        height: 46px;
        font-size: 16px;
        border-radius: 10px;
        padding: 0px;
        border: none;
        font-family: Arial, Regular;
        background-color: #000;
        color: #fff;
    }

    .botoes {
        margin-top: 47px;
    }
}

.containerLogo {
    width: 110px;
    height: 137px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.containerSalvarFotoPerfil {
    display: flex;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
}

.imgModificar {
    height: 30px;
    width: 30px;
    margin-top: 50px;
}

.labelIMG {
    cursor: pointer;
}

form {
    width: 615px;
    height: 455px;
    text-align: center;
}

.containerPreencher0 {
    margin-left: 23px;
}

.containerPreencher1 {
    margin-top: 20px;
    margin-left: 23px;
}

label {
    color: #000;
    font-size: 16px;
}

.placeHolder {
    width: 538px;
    height: 36px;
    margin-left: 16px;
    font-family: Arial, Regular;
    border: 20px;
    background-color: #fff;
}

input {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    width: auto;
}

.campoPreencher {
    height: 40px;
    width: 568px;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.imgMiniatura {
    margin-left: 534px;
}