*{
    color: white;
    font-family: Arial;    
}
header{
    width: 100%;
}

p {
    font-size: 1rem;  
    text-align: justify;  
    margin: 0px;
}
.containerAutor {
    width: 75rem;
    display: flex;
    margin-top: 50px;
    
}
.containerInformacoesAutor {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}
.containerAlinhamento {
    width: 665px;
    display: flex;
    justify-content: space-between;
}
.imgAutor {
    object-fit: cover;
    height: 33rem;
    width: 25rem;
    float: left;
    border-radius: 0.93rem;
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 25);
}
