* {
    font-family: Arial;
}
.titulo {
    color: white;
    font-size: 32px;
    margin-top: 73px;
    margin-left: 570px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;   
    background-color: #1E1E1E;
}
header {
    width: 100%;
}
.containerPrincipal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerHistorico {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 73px;
}
.containerPesquisa {
    margin-left: 600px;
}
.containerFiltro .dropdown {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 73px;
    margin-left: 500px;
    color: white;
    font-size: 32px;
}
input[type=submit] {
    width: 150px;
    height: 46px;
    font-size: 16px;
    border-radius: 10px;
    padding: 0px;
    border: none;
    font-family: Arial, Regular;
    background-color: #000;
    color: #fff;
}
.imgPesquisa {
    width: 1.61rem;
    height: 1.61rem;
}
.imgFiltro {
    width: 1.61rem;
    height: 1.61rem;
}
.imgFavorito {
    width: 2.6rem;
    height: 2.6rem;
}