body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #1E1E1E;
}

header {
  width: 100%;
}

.tela {
  width: 100%;
  background-color: #1E1E1E;

  .botaoLivroSelecionado {
    all: unset;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    width: 172px;
    height: 272px;
    border-radius: 1rem;
    top: 30px;
    left: 20px;
  }
}

.containerTitulo {
  margin-left: 15%;
}

.titulo {
  font-size: 20px;
  color: #fff;
  margin: 2rem 0 1rem 0;
}

.subTitulo {
  color: #fff;
  font-size: 16px;
}


.logo {
  height: 60px;
  margin-right: 80px;
}

.menu-superior {
  display: flex;
  align-items: center;
  gap: 20px;
}

.caixa-pesquisa {
  display: flex;
  align-items: center;
  gap: 80px;
}

.caixa-pesquisa input {
  width: 250px;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
}

.caixa-pesquisa button {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #555;
  background: #444;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.filtros {
  width: 300px;
  color: white;
  padding: 20px;
  margin: 20px 40px;
}

.filtros ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filtros li {
  margin-bottom: 15px;
}

.filtros a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  margin-top: 40px;
  width: 100%;
}

.cartao {
  width: 880px;
  height: 330px;
  background: #2a2a2a;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: relative;
}

.imagem-capa {
  width: 172px;
  height: 272px;
  border-radius: 8px;
  object-fit: cover;
}

.capa {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informacoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.autor {
  font-size: 20px;
  color: #ccc;
  margin-bottom: 20px;
}

.avaliacao {
  font-size: 18px;
  color: #ffcc00;
  display: flex;
  align-items: center;
}

.containerResultadoPesquisa {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;

  a {
    text-decoration: none;
  }

  .mensagem-vazia {
    text-align: center;
    margin: 100px auto;
    font-family: Arial, sans-serif;
    color: #555;
  }

  .mensagem-vazia h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .mensagem-vazia p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .mensagem-vazia a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
  }

  .mensagem-vazia a:hover {
    background-color: #0056b3;
  }
}