body {
    background-color: #1E1E1E;
}

header {
    width: 100%;
}
.containerManterAutor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerTitulo {
    width: 100%;
    max-width: 1000px;
}
.titulo {
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0 2rem 0;
}
.containerManter {
    width: 69.68rem;
    height: 60rem;
    border-radius: 1.75rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerPesquisa {
    margin-top: 1.25rem;
}
.imgPesquisa {
    width: 1.21rem;
    height: 1.21rem;
}
.adicionarCapaLivro {
    width: 20.5rem;
    height: 26.25rem;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 0.62rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}
custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    }
#fotoAutor {
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 0.62rem;
    padding: 0.5rem;
    width: 250px;
}
.informacoesLivro {
    display: flex;
    flex-direction: column;
    height: 26.25rem;
    width: 32.12rem;
    gap: 1.25rem;
}
.containerCampoPreencher {
    height: 4.25rem;
    width: 32.12rem;
}
.campoPreencher {
    padding: 1rem;
    height: 40px;
    width: 32.12rem;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 0.62rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    background-image: url('../../img/lapis.png');
    background-repeat: no-repeat;
    background-position: right;
}
.campoPreencherData {
    padding: 1rem;
    height: 40px;
    width: 32.12rem;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 0.62rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
input {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    width: auto;
  }
.campoDescricao {
    height: 13.46rem;
    width: 60.93rem;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-radius: 0.62rem;
    padding: 0.62rem;
}
.containerBotoes {
    display: flex;
    gap: 20px;
    float: right;
    margin-top: 1.87rem;
}