* {
    font-family: Arial;
}
.titulo {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.descrição {
    font-size: 20px;
    margin-left: 10px;
}
body {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.containerPrincipal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
}
.containerDescrição {
    width: 350px;
    height: 310px;
    margin: 100px;
    border-radius: 10px;
    background-color: #fff;
}
.form-check {
    font-size: 20px;
    margin-left: 20px;
}
.botoes {
    margin-top: 25px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
input[type=submit] {
    width: 155px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    padding: 0px;
    border: none;
    font-family: Arial, Regular;
    background-color: #000;
    color: #fff; 
}
