
body  {
    background-color: brown;
}

.container {
    width: 163px;
    height: 140px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
}

ul {
    gap: 10px;
}

li {
    list-style: none;    
}

a {
    text-decoration: none;
    color: black;
    
}
img {
    width: 30px;
    height: 30px;
     margin-left: -11px;
}